.footer-container {
  background-color: #937b63;
  padding: 10px;
}

.footer {
  color: #111d13;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 100px;
  width: 100%;
}

hr {
  border-color: #b6c197;
  width: 75%;
}

.footer-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer i {
  font-size: 30px;
}

