.header{
    height: 30px;
    background-color: #937B63;

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: row;
    gap:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h3{
    margin: 10px;
}



/* To mimic Link-objects */
.header-2{
    cursor: pointer;
}

.header-2:link {
    color: #111D13;
    text-decoration: none;
  }
  
  /* visited link */
  .header-2:visited {
    color: #111D13;
  
  }
  
  /* mouse over link */
  .header-2:hover {
    color:#B6C197;
  
  }
  
  /* selected link */
  .header-2:active {
    color: #111D13;
  }