.header{
    height: 30px;
    background-color: #937B63;

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: row;
    gap:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h3{
    margin: 10px;
}

